<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663617149114-u91tttikhslu35brq75incvtqc5b4ur5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663617149114-u91tttikhslu35brq75incvtqc5b4ur5</string>
	<key>API_KEY</key>
	<string>AIzaSyDNGpaWlUvnzXeejAYvyM9uz0sxSK1bpVM</string>
	<key>GCM_SENDER_ID</key>
	<string>663617149114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mu.david10sing.tiboulotmaurice</string>
	<key>PROJECT_ID</key>
	<string>tiboulot-maurice</string>
	<key>STORAGE_BUCKET</key>
	<string>tiboulot-maurice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663617149114:ios:91ac5b4e206b7ee40d4a83</string>
</dict>
</plist>